# Virtual Environment
venv/
.venv/
ENV/
env/

# Local Database / Ingested Data
data/chroma_db/
chromadb/

# Environment Variables & Secrets
.env
*.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDE files
.vscode/
.idea/